@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

/*monkeytype*/
:root {
    --primary-text-color: #ffffff;
    --secondary-text-color: #929292;
    --accent-color: #ffd52d;
    --accent-color-dark: #a88e23;
    --primary-bg-color: #242424;
    --secondary-bg-color: #303030;
    --heart: #f05542;
    --shadow: 0px -65px 161px 200px rgba(3, 3, 3, 0.158);
    --max-height: 0px;
    --album-artist-song-list-height: 0px;
    --queue-fav-height: 0px;

} 

*{
    transition: background .2s, color .2s;
}

html {
    overflow: hidden;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--accent-color-dark);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--accent-color);
}

body {
    margin: 0;
    padding: 0px;
    font-family: "Lexend", serif;
    color: var(--primary-text-color);
    background: var(--primary-bg-color);
}
i {
    cursor: pointer;
}
.whole-page {
    display: flex;
    width: 100vw;
    height: 100%;
    background: var(--primary-bg-color);
}

.header {
    width: 100vw;
    height: 140px;
    box-sizing: border-box;
    background: var(--primary-bg-color);
    display: flex;
    align-items: end;
}

.menu-bar{
    width: 20vw;
    height: 85vh;
    background: var(--primary-bg-color);
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;
}

.menu-btn {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    height: 60px;
    box-sizing: border-box;
    padding: 15px;
    color: var(--primary-text-color);
    border-radius: 10px;
    gap: 20px;
    cursor: pointer;
}

.menu-btn i{
    color: var(--accent-color);
}

.menu-btn:hover {
    background: var(--secondary-bg-color);
}
.menu-btn-selected {
    outline: 3px solid var(--accent-color);
    background: var(--secondary-bg-color);
}

.playlist-list {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 120px;
}

.playlist-card {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.playlist-card-art {
    border-radius: 8px;
    width: 45px;
    height: 45px;
    background: var(--primary-text-color);
    display: flex;
}

.main-center {
    width: 76vw;
    height: 85%;
    background: var(--primary-bg-color);
    box-sizing: border-box;
    padding: 10px;
    position: relative;
}

.class-line
{
    width: 100%;
    height: 3px;
    background: var(--secondary-bg-color);
    opacity: 100%;
    border-radius: 5px;
}
.class-line-change {
    width: 100px;
    height: 3px;
    background-color: var(--accent-color);
    opacity: 100%;
    border-radius: 5px;
    transition: transform .2s ease-in-out;

}
.classes {
    box-sizing: border-box;
    margin-top: 10px;
    display: flex;
}

.classi{
    margin-left: 10px;
    margin-right: 10px;
    width: 80px;
    text-align: center;
    color: var(--secondary-text-color);
    font-size: 16px;
    transition: color .2s ease-in-out;
    cursor: pointer;
}

.active-class{
    color: var(--accent-color);
}

.list-holder{
    position: relative;
}

.songlist {
    display: block;
    height: var(--max-height);
    margin-top: 20px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    padding-bottom: 30pxx;
    display: block;
    opacity: 100%;
    transition: opacity .3s ease-in-out, display .3s ease-in-out;
    overflow-y: auto;
    overflow-x: hidden;
    
}

.more-btn{
    margin: 0px 48%;
    cursor: pointer;
}

.song-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 60px;
    color: var(--primary-text-color);
    font-weight: 400;
    margin-bottom: 2px;
    border-radius: 10px;
    margin-bottom: 5px;  
    cursor: context-menu;
}

.responsive-song-card{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.song-card:hover {
    background: var(--secondary-bg-color); 
}

.song-card-selected {
    background: var(--secondary-bg-color);
    outline: 3px solid var(--accent-color);
}

.song-card-no-hover {
    margin: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 60px;
    color: var(--primary-text-color);
    font-weight: 400;
    margin-bottom: 2px;
    border-radius: 10px;
    opacity: 100%;
    transition: opacity .3s ease-in-out, display .3s ease-in-out;
}

.song-card-art {
    border-radius: 8px;
    width: 45px;
    height: 45px;
    background: var(--primary-text-color);
    display: flex;
}

.song-card-song-name {
    font-size: 16px;
    width: 25%;
    box-sizing: border-box;
    padding: 20px;
}

.song-card-artist-name {
    font-size: 16px;
    width: 25%;
    box-sizing: border-box;
    padding: 20px;
    color: var(--secondary-text-color); 
}

.song-card-album-name {
    font-size: 16px;
    width: 25%;
    box-sizing: border-box;
    padding: 20px;
    color: var(--secondary-text-color);
}

.song-card-timestamp {
    font-size: 16px;
    width: 6%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: left;
    color: var(--secondary-text-color);
}

.song-card-icons {
    margin-left: 20px;
    display: flex;
    gap: 35px;
    box-sizing: border-box;
    color: var(--accent-color);
    width: 15%;
    justify-content: flex-end;
}

.artistlist {
    position: absolute;
    width: 100%;
    display: none;
    grid-template-columns: repeat( auto-fit, minmax(210px, 1fr) );
    gap: 20px;
    margin-top:20px;
    box-sizing: border-box;
    padding: 10px;
    height: fit-content;
    opacity: 0;
    transition: opacity .3s ease-in-out, display .3s ease-in-out;
    overflow-y: auto;
    overflow-x: hidden;
    height: var(--max-height);
}

.artist-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 30px;
    border-radius: 20px;

}
.artist-card:hover {
    background: var(--secondary-bg-color);
}

.artist-card-name {
    width: 150px;
}
.artist-card-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.albumlist {
    position: absolute;
    width: 100%;
    display: none;
    margin: auto;
    grid-template-columns: repeat( auto-fit, minmax(220px, 1fr) );
    gap: 20px;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 10px;
    height: var(--max-height);
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0;
    transition: opacity .3s ease-in-out, display .3s ease-in-out;
}

.album-card {
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 240px;
    cursor: pointer;
    border-radius: 20px;
    padding: 30px;
    gap: 5px;
}

.album-card-more {
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 240px;
    cursor: pointer;
    border-radius: 20px;
    padding: 30px;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.album-card-disp {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    cursor: pointer;
    padding: 30px;
    border-radius: 20px;
}

.album-img {
    border-radius: 10px;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.album-name {
    text-align: left;
}
.album-artist-name{
    color: var(--secondary-text-color);
    text-align: left;
}


.album-card:hover, .album-card-more:hover{
    background: var(--secondary-bg-color);
}


/*idk if this much is necessary but nvm*/

.song-card-art-title {
    width: 45px;
    height: 45px;
}

.song-card-title {
    font-size: 16px;
    width: 25%;
    box-sizing: border-box;
    padding: 20px;
    color: var(--primary-text-color);
}

.song-card-time-title {
    font-size: 16px;
    width: 6%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
}

/*this rubbish ends here*/

.logo-holder {
    width: 20vw;
    background: var(--primary-bg-color);
    height: 80%;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 42px;
    margin: 0;
    cursor: pointer;
}

.title-small{
    display: none;
    cursor: pointer;
}

.tagline {
    color: var(--accent-color);
    font-size: 14px;
    cursor: pointer;
}

.search-bar-holder {
    width: 60vw;
    background: var(--primary-bg-color);
    height: 80%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}

.profile-holder {
    width: 20vw;
    background: var(--primary-bg-color);
    height: 80%;  
}

.search-bar {
    width: 50%;
    height: 50px;
    background: var(--secondary-bg-color);
    border-radius: 12px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    gap: 5px;
    color: var(--secondary-text-color);
    min-width: 300px;
    
}

.input {
    outline: none;
    padding: 10px;
    width: 100%;
    height: 100%;
    background: none;
    box-sizing: border-box;
    font-size: 20px;
    outline: none;
    border: none;
    font-family: "Lexend", serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--secondary-text-color);
}

.music-player-holder {
    position: fixed;
    bottom: 0;
    height: 70px;
    width: 100%;
    background: var(--secondary-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;
    /* box-shadow: 0px -65px 161px 200px rgba(3, 3, 3, 0.158); */
    box-shadow: 0px -60px 300px 100px rgba(0, 0, 0, 0.200);
    overflow: hidden;
    z-index: 3;
}

.music-player-art {
    border-radius: 8px;
    width: 45px;
    height: 45px;
    background: var(--primary-text-color);
    display: flex;
}

.music-player-song-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    justify-content: center;
    text-align: left;
    box-sizing: border-box;
}

.music-player-artist-name {
    color: var(--secondary-text-color);
}

.music-player-icon {
    width: fit-content;
    gap: 10px;
    display: flex;
    align-items: center;
}

.music-player-play-icon{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-tracker-holder {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
}

.progress-bar {
    width: 100%;
    height: 4px;
    background: var(--primary-text-color);
    position: relative;
}
.update-bar {
    width: 0%;
    height: 4px;
    background: var(--accent-color);
    position: relative;
}
.progress-circle {
    width: 12px;
    height: 12px;
    background-color: var(--primary-text-color);
    border-radius: 50%;
    position: absolute;
    top: -4px;
    left: 0;
}

.music-player-timestamp {
    display: flex;
    width: fit-content;
}

.music-player-audio-controller {
    color: var(--accent-color);
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

.audio-bar {
    display: block;
    width: 150px;
    height: 4px;
    background: var(--primary-text-color);
    position: fixed;
    z-index: 1;
    transform: translate(700px, 100px);
}

.audio-bar-back{
    display: block;
    position: fixed;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    z-index: 0;
    background: var(--secondary-bg-color);
    transform: translate(700px, 100px);
}

.audio-update-bar {
    width: 0%;
    height: 4px;
    background: var(--accent-color);
    position: relative;
    z-index: 1;
}

.audio-progress-circle {
    width: 12px;
    height: 12px;
    background-color: var(--primary-text-color);
    border-radius: 50%;
    position: absolute;
    top: -4px;
    left: 0;
    z-index: 1;
}

.music-player-end-icons {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--accent-color);
}

.music-player-end-icons div {
    border-radius: 50%;
    padding: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.repeat-active {
    outline: 2px solid var(--accent-color);
}

.relative-holder {
    width: 100%;
    position: absolute;
}

.classification {
    opacity: 1;
    transition: opacity .3s ease-in-out, display .3s ease-in-out;
}
.list-holder {
    opacity: 1;
    transition: opacity .3s ease-in-out, display .3s ease-in-out;
}

.artist-page, .album-page {
    position: absolute;
    width: 100%;
    display: none;
    opacity: 0;
    transition: opacity .3s ease-in-out, display .3s ease-in-out;
}

.album-page-artist-name {
    color: var(--secondary-text-color);
}

.artist-info-card-holder, .album-info-card-holder {
    display: flex;
    gap: 20px;
    border-radius: 20px;
    background: var(--secondary-bg-color);
    box-sizing: border-box;
    padding: 40px;
}

.artist-info-card-image, .album-info-card-image{
    border-radius: 20px;
    width: 200px;
    height: 200px;
}
.artist-info-card, .album-info-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.artist-download-holder, .album-download-holder{
    width: fit-content;
    display: flex;
    justify-content: end;
    align-items: end;
}

.artist-download, .album-download{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.artist-name-artist-card, .album-name-album-card {
    font-size: 40px;
    font-weight: 600;
}

.artist-card-play, .album-card-play {
    display: flex;
    align-items: center;
    gap: 10px;
}

.artist-play-icon, .album-play-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.artist-song-list, .album-song-list  {
    margin-top: 20px;
    padding-top: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    height: fit-content;
    padding-bottom: 30px;
    padding: 10px;
}

.back-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid var(--secondary-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.back-icon-holder {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--secondary-text-color);
}

.fa-heart {
    color: var(--heart);
}


.feed {
    width: 100%;
    opacity: 1;
    transition: opacity .3s ease-in-out, display .3s ease-in-out;
}

.queue {
    position: absolute;
    display: none;
    opacity: 0;
    transition: opacity .3s ease-in-out, display .3s ease-in-out;
    height: var(--queue-fav-height);
    padding: 10px;
    overflow-y: auto;
    width: 100%;
}

.page-heading{
    place-self: center;
    font-size: 30px;
}

.big-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
    margin-top: 30px;
}

.songs-left , .minutes-left{
    width: 300px;
    height: 160px;
    border-radius: 20px;
    background: var(--secondary-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--accent-color);
}

#song-count, #minute-count {
    font-size: 50px;
    color: var(--primary-text-color);
}

.icon-queue {
    height: 160px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.download-queue , .play-queue{
    
    width: 300px;
    height: 70px;
    border-radius: 10px;
    background: var(--secondary-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}

.download-queue > i , .play-queue > i {
    color:var(--accent-color);
}

.queuelist {
    position: relative;
    display: block;
    padding: 10px;
    overflow-x: hidden;
}

.queue-Item:hover {
    cursor: move;
}

/*favourites*/

.favourites {
    position: absolute;
    display: none;
    opacity: 0;
    transition: opacity .3s ease-in-out, display .3s ease-in-out;
    /* height: var(--max-height); */
    height: var(--queue-fav-height);
    padding: 10px;
    overflow-y: auto;
    width: 100%;
}

.big-box-fav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
    margin-top: 30px;
}

.songs-left-fav , .minutes-left-fav{
    width: 300px;
    height: 160px;
    border-radius: 20px;
    background: var(--secondary-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--accent-color);
}

#song-count-fav, #minute-count-fav {
    font-size: 50px;
    color: var(--primary-text-color);
}

.icon-fav {
    height: 160px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.download-fav , .play-fav{   
    width: 300px;
    height: 70px;
    border-radius: 10px;
    background: var(--secondary-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}

.download-fav > i , .play-fav > i {
    color:var(--accent-color);
}

.favlist {
    position: relative;
    display: block;
    padding: 10px;
    overflow-x: hidden;
}

/*favourite ends*/

.themes {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 20px;
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows:45px;
    gap: 5px;
    opacity: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: opacity .3s ease-in-out, display .3s ease-in-out;
}

.theme-choice {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.theme-choice:hover {
    transform: scale(1.1);
}

.theme-color {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.about{
    display: none;
    position: absolute;
    opacity: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: opacity .3s ease-in-out, display .3s ease-in-out;
    width: 100%;
    padding: 0px 150px;
    box-sizing: border-box;
    text-align: justify;
    overflow-y: auto;
    height: var(--queue-fav-height);
}
p{
    color: var(--secondary-text-color);
}

a{
    text-decoration: none;
    color: var(--accent-color);
}
.fa-link{
    color: var(--accent-color);
}

.developers{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dev-pfp{
    box-sizing: border-box;
    padding: 30px;
    width: 48%;
    height: fit-content;
    display: flex;
    border-radius: 20px;
    background: var(--secondary-bg-color);
    gap: 20px;
}

.dev-img{
    border-radius: 10px;
    width: 70px;
    height: 70px;
}

.dev-details{
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: center;
    font-size: 20px;
    gap: 5px;
}

.dev-socials{
    font-size: 15px;
    gap: 10px;
    display: flex;
}

.error-page{
    display: none;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: opacity .3s ease-in-out, display .3s ease-in-out;
}

.error-text{
    font-size: 30px;
    font-weight: 500;
    color: var(--primary-text-color);
}

/*equaliser*/
.player-eq-btn {
    height: 20px;
    width: 20px;
    padding: 10px;
    background: var(--accent-color);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.eq-holder {
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background: var(--secondary-bg-color);
    width: 700px;
    height: 350px;
    border-radius: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    color: var(--primary-text-color);
    box-sizing: border-box;
    z-index: 2;
}
label {
    color: var(--accent-color);
}
.eq-title {
    font-size: 30px;
    font-weight: 800;
    color: var(--primary-text-color);
}
.slider-holders{
    display: flex;
    gap: 10px;
}

.slider-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 55px;
}

.db {
    gap: 8px;
    padding-top: 23px;
    box-sizing: border-box;
    color: var(--accent-color);
}

.reset-btn-eq {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
}

.reset-btn-eq:hover {
    transform: scale(1.05);
}

.reset-btn-eq > span{
    color: var(--secondary-bg-color);
    font-style: bold;
    font-weight: 700;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 8px; 
    height: 125px;
    background: var(--primary-bg-color); 
    outline: none;
    opacity: 1;
    transition: opacity .2s;
    cursor: pointer;
    border-radius: 10px;

    writing-mode: vertical-lr; 
    -webkit-writing-mode: vertical-lr; /* Safari & Chrome */
    -moz-writing-mode: vertical-lr; /* Firefox */
    direction: rtl; 
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px; 
    height: 16px;
    background: var(--accent-color); 
    border-radius: 50%;
    cursor: pointer;
}

/* The thumb (slider circle) for Firefox */
input[type="range"]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: var(--accent-color);
    border-radius: 50%;
    cursor: pointer;
}

.blur {
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    opacity: 50%;
    z-index: 1;
}

.notification{
    top: 30px;
    right: 30px;
    position: fixed;
    width: 400px;
    height: fit-content;
    border-radius: 20px;
    background: var(--secondary-bg-color);
    padding: 20px;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    z-index: 10;
    transition: display .3s ease-in-out, opacity .3s ease-in-out;
    -webkit-box-shadow: -1px 2px 148px -19px rgba(0,0,0,0.39);
    -moz-box-shadow: -1px 2px 148px -19px rgba(0,0,0,0.39);
    box-shadow: -1px 2px 148px -19px rgba(0,0,0,0.39);
}
.notification-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.downloading, #download-title, #download-percent{
    color: var(--secondary-text-color);
}
#download-percent{
    width: 40px;
}

.notification-header > i{
    font-size: 10px;
    color: var(--accent-color);
}

.notif-content{
    display: flex;
    align-items: center;
    gap: 20px;
}

.notif-image{
    width: 70px;
    height: 70px;
    border-radius: 10px;
}

.download-detail{
    display: flex;
    align-items: center;
    gap: 10px;
}
.download-bar{
    width: 120px;
    height: 3px;
    border-radius: 2px;
    background: var(--primary-bg-color);
}
.download-update{
    position: relative;
    width: 0px;
    height: 3px;
    background: var(--accent-color);
    border-radius: 2px;
    transition: width .2s ease;
}

.cancel-button{
    height: 15px;
    width: 60px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.notif-details{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/*alert notif*/

.alert{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    width: fit-content;
    height: fit-content;
    align-items: center;
    border-radius: 20px;
    background: var(--secondary-bg-color);
    padding: 20px;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    transition: display .1s ease-in-out, opacity .1s ease-in-out;
    border: 3px solid var(--heart);
    -webkit-box-shadow: -1px 2px 148px -19px rgba(0,0,0,0.39);
    -moz-box-shadow: -1px 2px 148px -19px rgba(0,0,0,0.39);
    box-shadow: -1px 2px 148px -19px rgba(0,0,0,0.39);
    animation: shake 0.3s ease-in-out;
}

@keyframes shake {
    0% { left: 50%;}
    25% { left: 48%;}
    50% { left: 52%;}
    75% { left: 48%;}
    100% { left: 52%;}
}


.alert-content{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.alert-box{
    width: 100px;
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    top: -10%;
    left: 50%;
    background: var(--secondary-bg-color);
    border: 3px solid var(--heart);
    border-radius: 20px;
    color: var(--heart);
    transform: translate(-50%, -50%);
    justify-content: center;
    font-size: 30px;
}
#alert-title{
    font-size: 25px;
    font-weight: 700;
    color: var(--heart);
}

.alert-ok{
    padding: 8px;
    width: 90px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--heart);
    margin-top: 10px;
    cursor: pointer;
}

.album-disp-songs, .artist-disp-songs{
    height: var(--max-height);
    padding: 10px;
    overflow-y: auto;
}

svg path{
    fill: var(--accent-color);
}
.notif-holder{
    position: fixed;
    top: 10px;
    display: none;
    transform: translateX(-50%);
    left: 50%;
    opacity: 0;
    transition: opacity .2s ease, display .2s ease;
}

.short-notif{
    display: flex;
    height: 35px;
    width: 200px;
    background: var(--secondary-bg-color);
    color: var(--primary-text-color);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px solid var(--accent-color);
}

.short-notif > i{
    color: var(--accent-color);
}

.no-next-song-holder{
    position: fixed;
    top: 10px;
    display: none;
    transform: translateX(-50%);
    left: 50%;
    opacity: 0;
    transition: opacity .2s ease, display .2s ease;
}

.next-short-notif{
    display: flex;
    height: 35px;
    width: 210px;
    background: var(--secondary-bg-color);
    color: var(--primary-text-color);
    border: 2px solid var(--accent-color);
    border-radius: 8px;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.short-notif-technical{
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: 5px 0px 5px 10px;
    background: var(--secondary-bg-color);
    color: var(--primary-text-color);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 0;
    border: 2px solid var(--accent-color);
}
.short-notif-technical > span{
    width: 300px;
}

.short-notif-technical > span >  i{
    color: var(--accent-color);
}

@media only screen and (max-width: 700px){

        input[type="range"] {
            width: 250px; /* Wide for horizontal */
            height: 8px; /* Thin track */
            writing-mode: horizontal-tb; /* Switch to horizontal */
            -webkit-writing-mode: horizontal-tb;
            -moz-writing-mode: horizontal-tb;
            direction: ltr; /* Normal movement */
        }
        .eq-holder{
            width: 400px;
            height: 450px;
        }
        .slider-container{
            flex-direction: row;
            width: fit-content;
        }
        label{
            width: 55px;
        }
        .slider-holders{
            flex-direction: column;
            gap: 10px;
        }
        .db{
            flex-direction: row-reverse;
            padding-top: 0px;
            padding-left: 62px;
        }
}

@media only screen and (max-width: 1590px) {
    .song-card-album-name{
        display: none;
    }
    .song-card-song-name{
        width: 30%;
    }
    .song-card-artist-name{
        width: 30%;
    }
    .song-card-timestamp{
        width: 15%;
    }
}


@media only screen and (max-width: 1300px) {

    .main-center{
        width: 85%;
    } 
    .menu-btn span{
        display: none;
    }
    .menu-btn {
        width: fit-content;
    }

    .title{
        display: none;
    }
    .tagline{
        display: none;
    }
    .title-small {
        display: block;
        font-size: 30px;
    }
    .logo-holder{
        width: 90px;
    }

    .playlist-card-name {
        display: none;
    }

    .playlist-card {
        width: fit-content;
    }
    .menu-bar {
        width: fit-content;
        overflow-y: auto;
        height: 100%;
    }
    .menu-bar::-webkit-scrollbar{
        display: none;
    }
    .song-card-timestamp{
        width: 20%;
    }
    .icon-queue, .download-queue, .play-queue,.icon-fav, .download-fav, .play-fav{
        width: 70px;
    }
    .download-queue span, .play-queue span, .download-fav span, .play-fav span{
        display: none;
    }
    .audio-bar-back{
        width: 120px;
    }
    .audio-bar{
        width: 70px;
    }
    .music-player-art{
        display: none;
    }

}
@media only screen and (max-width: 1000px) {
    .about{
        padding: 0px 50px;
    }
}
@media only screen and (max-width: 900px) {
    .song-card-song-name{
        width: 50%;
    }
    .song-card-artist-name{
        display: none;
    }
    .song-card-timestamp{
        width: 20%;
    }
    .song-card-icons {
        width: 25%;
    }
    .big-box, .big-box-fav{
        gap: 20px;
    }
    #song-count, #minute-count, #song-count-fav, #minute-count-fav{
        font-size: 40px;
    }
    .music-player-artist-name{
        display: none;
    }
    .music-player-holder{
        gap: 10px;
    }
    .music-player-end-icons{
        gap: 10px;
    }
    .music-player-end-icons div {
        padding: none;
    }
    /*album info*/
    .album-info-card-image,.artist-info-card-image{
        height: 120px;
        width: 120px;
    }
    .album-name-album-card, .artist-name-artist-card{
        font-size: 30px;
    }
    /*album info ends*/


}

@media only screen and (max-width: 750px) {
    
    .song-card-song-name{
        width: 40%;
    }
    .song-card-icons {
        width: 30%;
    }
    .developers{
        flex-direction: column;
        gap: 20px;
    }
    .dev-pfp{
        width: 100%;
    }
    .short-notif-technical{
        display: none;
    }
}

@media only screen and (max-width: 650px) {
    
    .song-card-timestamp{
        display: none;
    }
    .song-card-song-name{
        width: 45%;
    }
    .song-card-icons {
        width: 45%;
    }
    .big-box, .big-box-fav{
        display: flex;
        flex-direction: column;
        height: 400px;
        margin-bottom: 20px;
    }
    .download-queue > span, .play-queue > span, .download-fav > span, .play-fav > span{
        display: block;
    }
    .download-queue, .play-queue, .icon-queue, .download-fav, .play-fav, .icon-fav{
        width: 300px;
    }
    .download-queue, .play-queue {
        height: 160px;
    }
    .queuelist, .favlist{
        margin-bottom: 100px;
    }
    .music-player-timestamp > .slash-line, #duration{
        display: none;
    }
    .artist-info-card-image, .album-info-card-image{
        display: none;
    }
}

@media only screen and (max-width: 600px){
    .song-card{
        height: 120px;
        padding: 20px;
        gap: 20px;
        box-sizing: content-box;
        width: 80%;
        border-radius: 20px;
        border: 2px solid var(--accent-color);
        margin-bottom: 30px;
        transition: transform .3s ease, border .3s ease;
    }
    .song-card-selected{
        outline: 2px solid var(--accent-color);
    }
    .song-card:hover {
        transform: translateY(-5px);
    }
    .song-card-art{
        width: 80px;
        height: 80px;
        background: var(--primary-text-color);
    }
    .responsive-song-card{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 5px;
    }
    .song-card-artist-name{
        display: block;
        width: 100%;
        padding: 0;
    }
    .song-card-song-name{
        padding: 0;
        width: 100%;
    }
    .song-card-icons{
        margin: 0;
        gap: 20px;
        justify-content: start;
        padding: 5px;
    }
    .music-player-end-icons{
        display: none;
    }
    #audio-icon{
        display: none;
    }
    .artist-info-card-holder, .aldbum-info-card-holder {
        width: 90%;
    }
    .profile-holder{
        display: none;
    }
    .dev-name{
        font-size: 15px;
    }
    .dev-pfp{
        padding: 20px;
    }
    svg{
        transform: scale(.8);
    }
}

@media only screen and (max-width: 400px){
    .search-bar{
        min-width: 200px;
    }
    .theme-choice{
        width: 250px;
    }
    .dev-pfp{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .dev-socials{
        justify-content: center;
    }
}

.no-for-now {
    display: none;
}